table {
   border: 1px solid #ccc;
   width: 400px;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}
 
th {
  background-color: #000000;
  color: #ffffff;
  width: 133px;
}
 
td {
  background-color: #dcdcdc;
  text-align: center;
      font-family:Arial;
  font-weight: bold;
}
